<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.2/normalize.css">
  <link rel="stylesheet" href="styles/main.css">
</head>
<body>


<script src="scripts/bower_components/jquery/dist/jquery.js"></script>
<header>
<h1>Etsy</h1>
<input type="text">
<button>Search</button>
<button>Browse</button>
<a href="#"></a>
<a href="#"></a>
<button>Sign In</button>
<a href="#"><div></div>Cart</a>
</header>



      <div class="cork-maps-list">
      </div>

    <script type="text/template" data-template-name="cork-map-item">

      <div class ="grid">
        <img  src= "<% image %>" />
        <p><% title %> </p>
        <span> <% shop %> </span> <span class="price-class"> $<% price %></span>
      </div>

    </script>


  <script type="text/javascript" src="scripts/data.js"></script>
  <script type="text/javascript" src="scripts/main.js"></script>



</body>
</html>
