<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
  <link rel="stylesheet" href="styles/main.css">
</head>
<body>

  
<script src="scripts/bower_components/jquery/dist/jquery.js"></script>



      <div class="cork-maps-list">
      </div>




    <script type="text/template" data-template-name="cork-map-item">

      <div class ="grid">
        <img  src= "<% image %>" />
        <span><% title %> </span>
        <span> <% shop %> </span> <span class="price-class"> $<% price %></span>
      </div>

    </script>


  <script type="text/javascript" src="scripts/data.js"></script>
  <script type="text/javascript" src="scripts/main.js"></script>



</body>
</html>
